 .circle{
    background-color: aqua;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
 }
 .circle:hover{
    background-color:blue
  }
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 50px;
    /* flex: 1; */
  }